.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
}