.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(255,255,255, 0.075);
    border-top: 1px solid var(--shine-border-color-01);
    border-right: 1px solid var(--shine-border-color-01);
    backdrop-filter: blur(4px);
    box-shadow: var(--box-shadow-01);
    /* max-width: min(70%, 800px); */
    padding: 20px;
    border-radius: 10px;
}

.project h3{
    text-align: center;
    font-family: 'Lusitana', serif;
    font-size: 1.5em;
    font-weight: 400;
}
.project h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.project__content-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 20px;
}


/* ## SCREENSHOTS CONTAINER ####################################################################################################################### */

.project-content-container__screenshot-container{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project__div-scroll-screenshots{
    display: flex;
    gap: 5px;
    overflow-x: scroll;
    padding-bottom: 4px;
    background-color: rgba(0,0,0, 0.2);
    box-shadow: var(--box-shadow-01);
    user-select: none;
}
.project__div-scroll-screenshots:hover{ cursor: grab; }
.project__div-scroll-screenshots.active:hover{ cursor: grabbing; }

.project-screenshot-miniature{
    width: 100%;
    border-radius: 5px;
    z-index: 9;
    transition: filter var(--transition-time-01);
}

.project-screenshots-container__scroll-indicator{
    font-size: 0.75em;
    opacity: 75%;
}


/* ## TEXT CONTAINER ############################################################################################################################## */

.project__text-content-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.project__text-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    gap: 5px;
}

.project__text-button{
    padding: 10px 15px;
    background-image: linear-gradient(to top, rgba(255,255,255, 0.12), transparent);
    flex-grow: 1;
    /* transition: backdrop-filter var(--transition-time-01); */
}
.project__text-button.active{
    backdrop-filter: brightness(115%);
}
.project__text-button:hover{
    cursor: pointer;
    backdrop-filter: brightness(115%);
}

.project__text{
    animation-name: FadeIn;
    animation-duration: var(--transition-time-01);
    animation-fill-mode: forwards;
}
.project__text::before{
    content: "❖";
    margin-right: 5px;
}