.about-me-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

.about-me-section > div{
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap-reverse; */
    gap: 20px;
    max-width: 75%;
    font-size: 1.1em;
}

.about-me-section div > img{
    width: min(50%, 300px);
}

.about-me-section__texts-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.about-me__contact-button{
    font-size: 1.15em;
    font-weight: 300;
    padding: 10px 15px;
    background-image: linear-gradient(to top, rgba(255,255,255, 0.125), transparent);
    /* flex-grow: 1; */
}
.about-me__contact-button:hover{
    cursor: pointer;
    backdrop-filter: brightness(120%);
}

@media (max-width: 720px) {
    .about-me-section > div{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .about-me-section div > img{
        width: min(100%, 300px);
        height: auto;
    }

    .about-me-section__texts-container{
        align-items: center;
    }

    .about-me-section__texts-container p{
        text-align: center;
    }
}