.skills-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.skills-section__skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    font-size: 1.25em;
    padding-left: 10px; /* tem isso por causa do icone da lista que fica deslocado pra esquerda */
}








