@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lusitana:wght@400;700&family=Mea+Culpa&display=swap');

*{
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;

  --box-shadow-01: 4px 4px 4px rgba(0,0,0, 0.3);
  --focus-color-01: rgba(255,255,255, 0.2);
  --shine-border-color-01: rgba(255,255,255, 0.35);
  --transition-time-01: 0.15s;
}

p{
  text-align: left;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  margin: auto;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.black-section{
  background-color: black;
  background-image: radial-gradient(circle at 0% 75%, rgba(255,255,255, 0.1), transparent);
  color: white;
}

h2{
  font-family: 'Lusitana', serif;
  font-size: 2.0em;
  font-weight: normal;
  text-align: center;
}

.centered-text{
  text-align: center;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255, 0.75);
  border-radius: 99px;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0, 0.4);
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0, 0.6);
}