.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    min-height: 90vh;
    border-radius: 0px 0px 30px 30px;
    box-shadow: var(--box-shadow-01);
}


/* HEADER ##################################################################################################################################### */

.intro-section__header{
    display: grid;
    column-gap: 10px;
    align-items: center;
    grid-template-columns: 1fr 0.25fr 1fr;
    padding: 15px;
    padding-bottom: 0px; /* o espacamento entre cada item vai ser feito pelo gap do intro-section */
}

.intro-section__header .head__email{
    font-family: monospace;
    flex-grow: 2;
    font-size: 1.25em;
    word-break: break-all;
}
.intro-section__header .head__email:hover{
    cursor: pointer;
    text-decoration: underline;
}

.intro-section__header .header__logo{
    text-align: center;
    font-family: 'Mea Culpa', sans-serif;
    font-size: 1.75em;
}

.intro-section__header nav{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
    font-family: monospace;
    font-size: 1.25em;
    font-size: clamp(0.8em, 3.0vw, 1.15em);}

.intro-section__header nav p{
    padding: 5px 10px;
    border-radius: 2px;
    transition: background-color var(--transition-time-01);
}
.intro-section__header nav p:hover{
    background-color: var(--focus-color-01);
    cursor: pointer;
}

@media (max-width: 1030px) {
    .intro-section__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .intro-section__header .head__email{
        display: none;
    }
}

@media (max-width: 900px) {
    .intro-section__header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro-section__header .head__email{
        display: none;
    }

    .intro-section__header nav{
        display: none;
    }
}


/* INTRO ###################################################################################################################################### */

.intro-section__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: max(5vh, 40px);
    padding: 0px 20px;
    font-family: 'Lusitana', serif;
}

.intro-section__intro p{
    text-align: center;
}

.intro-section__intro p:nth-child(1){ font-size: clamp(1.5em, 4.75vw, 2.25em); } /* 2.75em */
.intro-section__intro p:nth-child(2){ font-size: clamp(2.5em, 8vw, 4.5em); } /* 4.5em */
.intro-section__intro > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
}
.intro-section__intro > div p:nth-child(1){ font-size: clamp(1.5em, 4.5vw, 2.5em); } /* 2.25em */
.intro-section__intro > div p:nth-child(2){ font-size: clamp(1.15em, 3.25vw, 1.75em); } /* 1.25em */



/* CONTACT SECTION ############################################################################################################################ */

.intro-section__contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    padding: 0px 20px;
    padding-bottom: 40px;
    font-size: clamp(1.0em, 3.0vw, 1.10em);
    word-break: break-all;
}

.intro-section__contact > div{
    display: flex;
    align-items: center;
    gap: 3px;
}
.intro-section__contact > div:hover{
    cursor: pointer;
    text-decoration: underline;
}

.intro-section__contact svg{
    font-size: 1.5em;
}

/* .intro-section__contact p{
    animation-name: TextHighlight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}


@keyframes TextHighlight {
    0%{
        font-weight: 400;
        text-shadow: 0px 0px 0px rgba(255,255,255, 0.25);
    }
    50%{
        font-weight: 500;
        text-shadow: 0px 0px 20px rgba(255,255,255, 0.25);
    }
    100%{
        font-weight: 400;
        text-shadow: 0px 0px 0px rgba(255,255,255, 0.25);
    }
} */